<a href="https://colab.research.google.com/github/sofiapautova29-maker/dap-2024/blob/main/les04/les04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [2]:
# 1. Создайте DataFrame из файла titanic.csv, в качестве индекса используйте столбец "PassengerId"
df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv', index_col='PassengerId')

In [3]:
# 2. Просмотрите первые 6 строк
print("Первые 6 строк датафрейма:")
df.head(6)

Первые 6 строк датафрейма:

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q

In [13]:
# 3. Выведите описание данных
print("Информация о данных:")
df.info()

df.describe()

print("\nОписательная статистика категориальных признаков:")
df.describe(include=['object'])

Информация о данных:
<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 1 to 891
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       714 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Ticket    891 non-null    object
 8   Fare      891 non-null    float64
 9   Cabin     204 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

Описательная статистика категориальных признаков:

                       Name   Sex  Ticket Cabin Embarked
count                   891   891     891   204      889
unique                  891     2     681   147        3
top     Dooley, Mr. Patrick  male  347082    G6        S
freq                      1   577       7     4      644

In [5]:
# 4. Сколько мужчин / женщин находилось на борту?
gender_counts = df['Sex'].value_counts()
print(f"Мужчин: {gender_counts['male']}")
print(f"Женщин: {gender_counts['female']}")
print(f"Всего пассажиров: {len(df)}")

Мужчин: 577
Женщин: 314
Всего пассажиров: 891

In [6]:
# 4. Выведите распределение переменной Pclass (социально-экономический статус) и это же распределение, только для мужчин / женщин по отдельности. Сколько было мужчин 2-го класса?
class_distribution = df['Pclass'].value_counts().sort_index()
print("Общее распределение:")
for pclass, count in class_distribution.items():
    print(f"Класс {pclass}: {count} пассажиров ({count/len(df)*100:.1f}%)")

print("\nРаспределение по классам для мужчин:")
men_df = df[df['Sex'] == 'male']
men_class_dist = men_df['Pclass'].value_counts().sort_index()
for pclass, count in men_class_dist.items():
    print(f"Класс {pclass}: {count} мужчин ({count/len(men_df)*100:.1f}%)")

print("\nРаспределение по классам для женщин:")
women_df = df[df['Sex'] == 'female']
women_class_dist = women_df['Pclass'].value_counts().sort_index()
for pclass, count in women_class_dist.items():
    print(f"Класс {pclass}: {count} женщин ({count/len(women_df)*100:.1f}%)")

# Мужчины 2-го класса
men_2nd_class = men_class_dist.get(2, 0)
print(f"\nМужчин 2-го класса: {men_2nd_class}")

Общее распределение:
Класс 1: 216 пассажиров (24.2%)
Класс 2: 184 пассажиров (20.7%)
Класс 3: 491 пассажиров (55.1%)

Распределение по классам для мужчин:
Класс 1: 122 мужчин (21.1%)
Класс 2: 108 мужчин (18.7%)
Класс 3: 347 мужчин (60.1%)

Распределение по классам для женщин:
Класс 1: 94 женщин (29.9%)
Класс 2: 76 женщин (24.2%)
Класс 3: 144 женщин (45.9%)

Мужчин 2-го класса: 108

In [7]:
# 5. Каковы медиана и среднеквадратичное отклонение платежей (Fare)? Округлите до 2 десятичных знаков.

fare_median = df['Fare'].median()
fare_std = df['Fare'].std()

print("Статистики по стоимости билетов (Fare):")

print(f"Медиана: {fare_median:.2f}")
print(f"Среднеквадратичное отклонение: {fare_std:.2f}")
print(f"Среднее: {df['Fare'].mean():.2f}")
print(f"Минимум: {df['Fare'].min():.2f}")
print(f"Максимум: {df['Fare'].max():.2f}")
print(f"Количество пропусков: {df['Fare'].isna().sum()}")

Статистики по стоимости билетов (Fare):
Медиана: 14.45
Среднеквадратичное отклонение: 49.69
Среднее: 32.20
Минимум: 0.00
Максимум: 512.33
Количество пропусков: 0

In [8]:
# 6. Правда ли, что люди моложе 30 лет выживали чаще, чем люди старше 60 лет? Каковы доли выживших в обеих группах?
young_mask = df['Age'] < 30
old_mask = df['Age'] > 60

# Подсчитываем выживших в каждой группе
young_survived = df.loc[young_mask, 'Survived'].sum()
young_total = young_mask.sum()
young_survival_rate = young_survived / young_total if young_total > 0 else 0

old_survived = df.loc[old_mask, 'Survived'].sum()
old_total = old_mask.sum()
old_survival_rate = old_survived / old_total if old_total > 0 else 0

print("Сравнение выживаемости по возрастным группам:")

print(f"Пассажиров моложе 30 лет: {young_total}")
print(f"Выживших моложе 30 лет: {young_survived}")
print(f"Доля выживших (<30 лет): {young_survival_rate:.2%}")
print()
print(f"Пассажиров старше 60 лет: {old_total}")
print(f"Выживших старше 60 лет: {old_survived}")
print(f"Доля выживших (>60 лет): {old_survival_rate:.2%}")
print()

# Проверяем утверждение
if young_survival_rate > old_survival_rate:
    print(f"Утверждение ВЕРНО: люди моложе 30 лет выживали чаще ({young_survival_rate:.2%} vs {old_survival_rate:.2%})")
else:
    print(f"Утверждение ЛОЖНО: люди старше 60 лет выживали чаще ({old_survival_rate:.2%} vs {young_survival_rate:.2%})")

Сравнение выживаемости по возрастным группам:
Пассажиров моложе 30 лет: 384
Выживших моложе 30 лет: 156
Доля выживших (<30 лет): 40.62%

Пассажиров старше 60 лет: 22
Выживших старше 60 лет: 5
Доля выживших (>60 лет): 22.73%

Утверждение ВЕРНО: люди моложе 30 лет выживали чаще (40.62% vs 22.73%)

In [9]:
# 7. Правда ли, что женщины выживали чаще мужчин? Каковы доли выживших в обеих группах?
survival_by_gender = df.groupby('Sex')['Survived'].agg(['sum', 'count'])
survival_by_gender['survival_rate'] = survival_by_gender['sum'] / survival_by_gender['count']

print("Выживаемость по полу:")
for gender, row in survival_by_gender.iterrows():
    print(f"{gender.capitalize()}:")
    print(f"  Всего: {int(row['count'])}")
    print(f"  Выжило: {int(row['sum'])}")
    print(f"  Доля выживших: {row['survival_rate']:.2%}")
    print()

# Проверяем утверждение
women_rate = survival_by_gender.loc['female', 'survival_rate']
men_rate = survival_by_gender.loc['male', 'survival_rate']

if women_rate > men_rate:
    print(f"Утверждение ВЕРНО: женщины выживали чаще мужчин ({women_rate:.2%} vs {men_rate:.2%})")
else:
    print(f"Утверждение ЛОЖНО: мужчины выживали чаще женщин ({men_rate:.2%} vs {women_rate:.2%})")

Выживаемость по полу:
Female:
  Всего: 314
  Выжило: 233
  Доля выживших: 74.20%

Male:
  Всего: 577
  Выжило: 109
  Доля выживших: 18.89%

Утверждение ВЕРНО: женщины выживали чаще мужчин (74.20% vs 18.89%)

In [10]:
# 8. Найдите самое популярное имя среди пассажиров Титаника мужского пола?
def extract_first_name(name):
    """Извлекает первое имя из полного имени"""
    # Убираем титулы и фамилии
    parts = name.split(', ')
    if len(parts) > 1:
        # Берем часть после фамилии
        name_part = parts[1]
        # Убираем титулы в скобках
        if '(' in name_part and ')' in name_part:
            name_part = name_part.split('(')[1].split(')')[0]
        # Убираем титулы Mr., Mrs., Miss., Master., Dr. и т.д.
        title_removed = name_part.split('. ')[-1] if '. ' in name_part else name_part
        # Берем первое слово (первое имя)
        first_name = title_removed.split(' ')[0]
        return first_name
    return name

# Применяем функцию к именам мужчин
men_df = df[df['Sex'] == 'male'].copy()
men_df['FirstName'] = men_df['Name'].apply(extract_first_name)

# Находим самое популярное имя
name_counts = men_df['FirstName'].value_counts()
print("Топ-10 самых популярных имен среди мужчин:")

for i, (name, count) in enumerate(name_counts.head(10).items(), 1):
    print(f"{i}. {name}: {count} пассажиров")

most_common_name = name_counts.index[0]
most_common_count = name_counts.iloc[0]
print(f"\nСамое популярное имя среди мужчин: '{most_common_name}'")
print(f"Количество пассажиров с этим именем: {most_common_count}")

Топ-10 самых популярных имен среди мужчин:
1. William: 35 пассажиров
2. John: 23 пассажиров
3. Thomas: 13 пассажиров
4. George: 13 пассажиров
5. Charles: 12 пассажиров
6. James: 11 пассажиров
7. Henry: 11 пассажиров
8. Richard: 10 пассажиров
9. Johan: 9 пассажиров
10. Edward: 9 пассажиров

Самое популярное имя среди мужчин: 'William'
Количество пассажиров с этим именем: 35

In [11]:
# 9. Как отличается средний возраст мужчин / женщин в зависимости от класса обслуживания?
# Расчет среднего возраста по полу и классу
age_by_gender_class = df.groupby(['Sex', 'Pclass'])['Age'].mean().unstack()

print("Средний возраст по полу и классу обслуживания:")
print("=" * 50)
print(age_by_gender_class.round(1))

# Проверка утверждений
print("\nПроверка утверждений:")

# 1. В среднем мужчины 1-го класса старше 40 лет
men_1st_class_age = age_by_gender_class.loc['male', 1]
statement1 = men_1st_class_age > 40
print(f"1. Мужчины 1-го класса старше 40 лет: {men_1st_class_age:.1f} лет -> {statement1}")

# 2. В среднем женщины 1-го класса старше 40 лет
women_1st_class_age = age_by_gender_class.loc['female', 1]
statement2 = women_1st_class_age > 40
print(f"2. Женщины 1-го класса старше 40 лет: {women_1st_class_age:.1f} лет -> {statement2}")

# 3. Мужчины всех классов в среднем старше женщин того же класса
men_vs_women = (age_by_gender_class.loc['male'] > age_by_gender_class.loc['female']).all()
print(f"3. Мужчины всех классов старше женщин того же класса: {men_vs_women}")

# 4. В среднем люди в 1 классе старше, чем во 2-ом, а те старше представителей 3-го класса
overall_age_by_class = df.groupby('Pclass')['Age'].mean()
statement4 = (overall_age_by_class[1] > overall_age_by_class[2] > overall_age_by_class[3])
print(f"4. Возраст уменьшается с классом (1 > 2 > 3): {statement4}")
print(f"   Средний возраст по классам: 1-й: {overall_age_by_class[1]:.1f}, "
      f"2-й: {overall_age_by_class[2]:.1f}, 3-й: {overall_age_by_class[3]:.1f}")

Средний возраст по полу и классу обслуживания:
==================================================
Pclass     1     2     3
Sex
female  34.6  28.7  21.8
male    41.3  30.7  26.5

Проверка утверждений:
1. Мужчины 1-го класса старше 40 лет: 41.3 лет -> True
2. Женщины 1-го класса старше 40 лет: 34.6 лет -> False
3. Мужчины всех классов старше женщин того же класса: True
4. Возраст уменьшается с классом (1 > 2 > 3): True
   Средний возраст по классам: 1-й: 38.2, 2-й: 29.9, 3-й: 25.1

In [12]:
# 10. Сравните возраст у спасенных и у погибших пассажиров. Средний возраст погибших выше, верно?
# Расчет среднего возраста для выживших и погибших
age_by_survival = df.groupby('Survived')['Age'].agg(['mean', 'median', 'count'])
print("Статистики возраста по выживаемости:")
for survived, stats in age_by_survival.iterrows():
    status = 'Выжили' if survived == 1 else 'Погибли'
    print(f"{status}:")
    print(f"  Средний возраст: {stats['mean']:.1f} лет")
    print(f"  Медианный возраст: {stats['median']:.1f} лет")
    print(f"  Количество: {int(stats['count'])} пассажиров")
    print()

# Проверяем утверждение
mean_age_survived = age_by_survival.loc[1, 'mean']
mean_age_died = age_by_survival.loc[0, 'mean']
print(f"Разница в среднем возрасте: {abs(mean_age_died - mean_age_survived):.1f} лет")

if mean_age_died > mean_age_survived:
    print(f"Утверждение ВЕРНО: средний возраст погибших ({mean_age_died:.1f} лет) "
          f"выше, чем у выживших ({mean_age_survived:.1f} лет)")
else:
    print(f"Утверждение ЛОЖНО: средний возраст выживших ({mean_age_survived:.1f} лет) "
          f"выше, чем у погибших ({mean_age_died:.1f} лет)")

Статистики возраста по выживаемости:
Погибли:
  Средний возраст: 30.6 лет
  Медианный возраст: 28.0 лет
  Количество: 424 пассажиров

Выжили:
  Средний возраст: 28.3 лет
  Медианный возраст: 28.0 лет
  Количество: 290 пассажиров

Разница в среднем возрасте: 2.3 лет
Утверждение ВЕРНО: средний возраст погибших (30.6 лет) выше, чем у выживших (28.3 лет)